# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Checkpoint files
*.ckpt

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# IDE and editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
