torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
transformers==4.32.1
gradio==4.37.2
ftfy
tensorboard
datasets
Pillow==9.5.0 
opencv-python 
imgaug 
accelerate==0.23.0
image-reward
hpsv2
torchmetrics
open-clip-torch
clip
av2
peft
imageio-ffmpeg
scipy
tqdm
einops
diffusers==0.28.0
xformers==0.0.26.post1
omegaconf
scikit-image
scikit-learn

